<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clinic</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="com/core/beans/Country.hbm.xml" />
        <mapping resource="com/core/beans/Clinic.hbm.xml" />
        <mapping resource="com/core/beans/City.hbm.xml" />
        <mapping resource="com/core/beans/User.hbm.xml" />
        <mapping resource="com/core/beans/Job.hbm.xml" />
        <mapping resource="com/core/beans/State.hbm.xml" />
        <mapping resource="com/core/beans/Patient.hbm.xml" />
    </session-factory>
</hibernate-configuration>
